<div class="container">
  <br>
  <h1>
       About Website
  </h1>
  <br>
</div>
<div style="text-align: center">
<img class="is-rounded" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.6435-9/186178322_456333202133990_4362996695274558174_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=oNGKLt_zlJIAX-M2_ps&_nc_ht=scontent-vie1-1.xx&oh=f62aaf89014827b692150a331467aca6&oe=60D0EBA1">
  <p class="aa">Desginer Mahdi Bentaleb</p>
  <p class="bb">Neptun : ELKBLN</p>
  <p class="bb">Email : mehdibentaleb22@gmail.com</p>
  <p class="bb">This Family budget Angular assignment website is a homework for Web Enginner Subject was
      built in order <br> to master and get full review about Angular and web engineer
        in case you notice<br> any bugs or problem  contact me and i will fix</p>
  <h2> 2021 Copyright reserved for University of ELTE </h2>
</div>
