<div class="imgg">
  <h3 class="txt">
    Follow Your Budget throught our app
</h3>
  <img src="https://image.freepik.com/free-vector/family-couple-saving-money_74855-5240.jpg">
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Budget Summery</h1>
    <div class="card-group">
      <div class="card text-white bg-success">
        <h5 class="card-title">Overall Budget Income</h5>
        <img class="card-img-top" src="https://smartlegal.hu/upload/salary.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{income}}</p>
        </div>
      </div>
      <div class="card text-white bg-danger">
        <h5 class="card-title">Overall Budget Outcome</h5>
        <img class="card-img-top" src="https://image.shutterstock.com/image-vector/vector-illustration-pile-coins-bags-260nw-1677475450.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{outcome}}</p>
        </div>
      </div>
    </div>

    <p class="lead">Add New Budget</p>
    <p><a class="btn btn-red" routerLink="/budget/new" role="button">NEW BUDGET ENTRY</a></p>
  </div>
</div>

